<mat-toolbar color="primary">
  <mat-icon>dashboard</mat-icon>
   &nbsp; &nbsp;
  <span>Dashboard Lauro</span>

  <div style="position: absolute; right: 1%;">

    <mat-slide-toggle id="mat-slide-toggle"> <fa-icon [icon]="faMoon"></fa-icon> </mat-slide-toggle>

    <button mat-icon-button style="margin-right: 1px" (click)="openDialogFilter()">
      <mat-icon>filter_list</mat-icon>
    </button>

    <button mat-icon-button (click)="openDialog()">
      <mat-icon>info</mat-icon>
    </button>
  </div>

</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Temperature Camera"> <app-room-temperature></app-room-temperature> </mat-tab>
  <mat-tab label="Temperature dei Raspberry"> <app-raspberry> </app-raspberry> </mat-tab>
</mat-tab-group>

